@model ImovelWEB.Models.Imovel

@{
    ViewData["Title"] = "Adicionar Imóvel";
}

<h4>Adicionar Imóvel</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span style="color: red">*</span><label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <span style="color: red">*</span><label asp-for="Descricao" class="control-label"></label>
                @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", @rows = 5, @style = "resize: none;" })
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span style="color: red">*</span><label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" style="width: 150px;" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span style="color: red">*</span><label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" class="form-control" style="width: 150px;" />
                <span asp-validation-for="Cep" class="text-danger"></span>
                <br /><a href="https://buscacepinter.correios.com.br/app/endereco/index.php" target="_blank">Não sei meu CEP</a>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <span style="color: red">*</span><label asp-for="Rua" class="control-label"></label>
                        <input asp-for="Rua" class="form-control" style="width: 400px;" />
                        <span asp-validation-for="Rua" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label" for="Numero"><span style="color: red">*</span>@Html.DisplayNameFor(model => model.Numero)</label>
                        <input asp-for="Numero" class="form-control" style="width: 110px;" />
                        <span asp-validation-for="Numero" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span style="color: red">*</span><label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complemento" class="control-label"></label>
                <input asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <span style="color: red">*</span><label asp-for="Cidade" class="control-label"></label>
                        <input asp-for="Cidade" class="form-control" style="width: 420px;" />
                        <span asp-validation-for="Cidade" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label" for="Estado"><span style="color: red">*</span>@Html.DisplayNameFor(model => model.Estado)</label>
                        <input asp-for="Estado" class="form-control" style="width: 90px;" />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Referencia" class="control-label"></label>
                <input asp-for="Referencia" class="form-control" />
                <span asp-validation-for="Referencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

<script>
    $('#Preco').maskMoney({
        prefix: 'R$ ',
        allowNegative: false,
        thousands: '.',
        decimal: ',',
        affixesStay: true
    });

    $("#Cep").mask("99999-999");

    $(document).ready(function() {
    });

    $("#Cep").change(function() {
        var cep = $("#Cep").val().replace("-", "");

        if (cep != '' && cep != undefined && cep.length == 8) {
            $.ajax({
                url: 'https://viacep.com.br/ws/' + cep + '/json/',  //URL solicitada
                success: function(data) { //O HTML é retornado em 'data'
                    if (data.erro == "true") {
                        $("span[data-valmsg-for=\"Cep\"]").html("CEP Inválido, digite novamente.");
                        $("#Cep").val("");
                        $("#Rua").val("");
                        $("#Bairro").val("");
                        $("#Cidade").val("");
                        $("#Estado").val("");
                    }
                    else {
                        $("#Rua").val(data.logradouro);
                        $("#Bairro").val(data.bairro);
                        $("#Cidade").val(data.localidade);
                        $("#Estado").val(data.uf);
                        $("span[data-valmsg-for=\"Cep\"]").html("");
                        $("#Numero").focus();
                    }
                },
                error: function(data) {
                    $("span[data-valmsg-for=\"Cep\"]").html("CEP Inválido, digite novamente.");
                    $("#Cep").val("");
                    $("#Rua").val("");
                    $("#Bairro").val("");
                    $("#Cidade").val("");
                    $("#Estado").val("");
                }
            });
        }
    });
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
